@use "../config";

#header-outer.transparent header#top nav > ul > li > a.bw-btn {
  opacity: 1 !important;
}

header#header-outer,
header#top {
  .bw-cart-icon-wrap {
    height: auto !important;
  }

  .bw-cart-wrap-item-count {
    position: absolute;
    font-size: 0.688rem;

    > div {
      background-color: White !important;
      border-radius: 99px;
      color: black;
      line-height: 2em !important;
      width: 2em !important;

      box-shadow: 0px 5px 12px rgb(0 0 0 / 20%);

      font-weight: 600;
      font-size: 1em !important;
    }
  }

  .bw-additional-header-button {
    display: none !important;
  }

  @media only screen and (min-width: config.$breakpoint-lg) {
    .bw-additional-header-button {
      display: flex !important;

      > a.bw-btn {
        opacity: 1 !important;
      }
    }
  }
}

#header-outer.transparent {
  @media only screen and (min-width: config.$breakpoint-lg) {
    .bw-decorated-header {
      background-color: White;
      box-shadow: 0px 8px 15px -3px rgba(0,0,0,0.25);
      // box-shadow: 0px 13px 24px -18px rgba(136, 136, 136, 1);

      /* background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.85) 0%,
        rgba(255, 255, 255, 0) 85%
      ); */

      /* .menu-item > a {
        color: Red !important;
      }*/
    }
  }
}

// Hack bg logo
@media only screen and (min-width: config.$breakpoint-lg) {
  body.material #header-outer:not([data-format="left-header"]) #logo {
    opacity: 0;
  }
}

///
/// This is nasty set of hacks to change menu colors.
/// Be careful with changes!
///
html {
  // Active
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current-menu-item
    > a,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current_page_item
    > a {
    color: var(--primary-green) !important;
  }

  // Non-active
  #header-outer.transparent header#top nav > ul > li > a {
    color: var(--menu-gray) !important;
    opacity: 1 !important;
  }

  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    > ul
    > li
    > a:hover {
    color: var(--primary-green) !important;
  }

  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.sfHover
    > a {
    color: var(--primary-green) !important;
  }

  // Move slider down
  @media only screen and (min-width: config.$breakpoint-lg) {
    #bw-main-page-slider {
      margin-top: 150px !important;
    }
  }

}
