@use "../config";

.bw-product-layout {
  display: grid;
  grid-gap: 1rem;

  img {
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
  }

  h4 {
    font-size: 1.5em !important;
    margin-bottom: 1.25em !important;
  }

  // Desktop
  @media only screen and (min-width: config.$breakpoint-lg) {
    grid-template-columns: 1fr 1fr;
  }

  ///
  /// Global
  ///
  .btns {
    grid-area: btns;

    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      justify-content: start;
      grid-gap: 0.5rem;

      @media only screen and (min-width: config.$breakpoint-lg) {
        padding-top: 60px;
      }
    }

    .nectar-button {
      padding-left: 0 !important;
      padding-right: 0 !important;
      text-align: center;
      text-transform: uppercase !important;
    }

    ///
    /// Modifiers
    ///
    @media only screen and (min-width: config.$breakpoint-lg) {
      &.--3-columns-on-lg {
        > div {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }

  ///
  /// Layout 1
  /// For three elements
  ///
  $grid-areas-001: description_1 description_2 description_3 description_4
    illustration_1 illustration_2 illustration_3 illustration_4;

  &.--001 {
    grid-template-areas:
      "description_1"
      "illustration_1"
      "description_2"
      "illustration_2"
      "description_3"
      "illustration_3"
      "btns"
      "illustration_4";

    @media only screen and (min-width: config.$breakpoint-lg) {
      grid-template-areas:
        "description_1 description_2"
        "illustration_1 illustration_2"
        "description_3 btns"
        "illustration_3 ."
        "illustration_4 illustration_4";
    }

    // Grid areas
    @each $area in $grid-areas-001 {
      .#{$area} {
        grid-area: $area;
      }
    }
  }

  ///
  /// Layout 2
  /// For five elements
  ///
  $grid-areas-002: description_1 description_2 description_3 description_4
    description_5 illustration_1 illustration_2 illustration_3 illustration_4
    illustration_5 illustration_6;

  &.--002 {
    grid-template-areas:
      "description_1"
      "illustration_1"
      "description_2"
      "illustration_2"
      "description_3"
      "illustration_3"
      "description_4"
      "illustration_4"
      "description_5"
      "illustration_5"
      "btns"
      "illustration_6";

    @media only screen and (min-width: config.$breakpoint-lg) {
      grid-template-areas:
        "description_1 description_2"
        "illustration_1 illustration_2"
        "description_3 description_4"
        "illustration_3 illustration_4"
        "description_5 btns"
        "illustration_5 ."
        "illustration_6 illustration_6";
    }

    // Grid areas
    @each $area in $grid-areas-002 {
      .#{$area} {
        grid-area: $area;
      }
    }
  }

  ///
  /// Layout 3
  /// For two elements
  ///
  $grid-areas-003: description_1 description_2 illustration_1 illustration_2
    illustration_3 illustration_4;

  &.--003 {
    grid-template-columns: 55fr 45fr;

    grid-template-areas:
      "description_1 description_1"
      "illustration_1 illustration_1"
      "description_2 description_2"
      "illustration_2 illustration_2"
      "illustration_3 illustration_3"
      "illustration_4 illustration_4"
      "btns btns";

    @media only screen and (min-width: config.$breakpoint-lg) {
      grid-template-areas:
        "description_1 description_1"
        "illustration_1 illustration_1"
        "description_2 description_2"
        "illustration_2 illustration_2"
        "illustration_3 illustration_4"
        "btns btns";

      .illustration_3 {
        align-self: center;

        > img {
          margin: 0 0;
        }
      }

      .bw-infographic-icons {
        margin-bottom: 0;
      }
    }

    // Grid areas
    @each $area in $grid-areas-002 {
      .#{$area} {
        grid-area: $area;
      }
    }

    // Modifications
    .illustration_1,
    .illustration_2 {
      margin-bottom: 20px;
      // border: solid 1px Red;
    }

    .btns > div {
      padding-bottom: 40px;

      @media only screen and (min-width: config.$breakpoint-lg) {
        padding-top: 0;
      }
    }
  }

  ///
  /// Layout 4
  /// For one element
  ///
  $grid-areas-004: description_1 illustration_1 illustration_2;

  &.--004 {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "description_1 description_1"
      "illustration_1 illustration_1"
      "btns btns"
      "illustration_2 illustration_2";

    .illustration_1 {
      margin-bottom: 20px;
      // border: solid 1px Red;
    }

    .btns > div {
      padding-bottom: 20px;

      @media only screen and (min-width: config.$breakpoint-lg) {
        padding-top: 0;
      }
    }

    // Grid areas
    @each $area in $grid-areas-004 {
      .#{$area} {
        grid-area: $area;
      }
    }
  }
}
