@use "../config";

///
/// Single product view
///
.bw-single-product {
  .woocommerce-loop-product__model {
    border: solid 1px var(--border-light);
    display: inline-block;
    padding: 0.25em 0.5em !important;
    border-radius: 4px;
    margin-bottom: 0.5em !important;
  }

  .product-meta {
    padding-top: 10px !important;
  }

  &__price {
    position: absolute;
    bottom: 90px;
    right: 0;

    > .price {
      opacity: 1 !important;
    }
  }

  @media only screen and (min-width: config.$breakpoint-lg) {
    &__thumb {
      text-align: center !important;
      // height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 300px !important;
      max-height: 300px !important;
      overflow: hidden;


      img {
        // height: 300px !important;
        max-height: 300px !important;
        width: auto !important;
        max-width: 100% !important;
      }
    }

    .woocommerce-loop-product__title {
      min-height: 46px;
    }
  }
}
