@use "config";

///
/// Primary button
///
.bw-btn {
  border-radius: 4px;
  text-transform: uppercase !important;

  padding: 0.5em 1em !important;

  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-size: 0.938rem !important;
  display: block !important;
  line-height: 100% !important;

  transition: background-color 0.5s ease-out !important;

  &.--primary {
    background-color: var(--primary-green);
    color: #fff !important;

    &:hover {
      background-color: var(--primary-green-hover);
    }
  }

  &.--secondary {
    background-color: var(--ui-gray-medium);
    color: #fff !important;

    &:hover {
      background-color: var(--ui-gray-medium-hover);
    }
  }

  &.--wrench-icon::before {
    font-family: "FontAwesome";
    content: "\f0ad";
    display: inline-block;
    margin-right: 0.5em;
    margin-top: -0.3em;
  }
}

// Hack
#header-outer.transparent header#top nav > ul > li > a.bw-btn.--secondary,
#top header#top nav > ul > li > a.bw-btn.--secondary {
  color: White;
}

///
/// Custom add to cart
///
.bw-custom-add-to-cart-wrapper {
  margin-top: 40px;
  text-align: center;
  border: solid 1px var(--border-light);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 8px 8px 24px 0px var(--shadow-color-light);
}

.woocommerce {
  div.product {
    .bw-custom-add-to-cart-wrapper {
      form.cart {
        margin-bottom: 0 !important;
        button.single_add_to_cart_button {
          display: inline-block;
          float: none;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: config.$breakpoint-desktop) {
  .woocommerce {
    div.product {
      .bw-custom-add-to-cart-wrapper {
        form.cart {
          button.single_add_to_cart_button {
            width: 66%;
            min-width: 220px;
          }
        }
      }
    }
  }
}

///
/// Custom notifications
///

.bw-custom-notification {
  font-size: 1.25em !important;
  font-weight: 600 !important;
}

///
/// Custom category header
///
#page-header-bg {
  .bw-special-category-header {
    font-size: 3.2rem;
    font-family: "Gotham" !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
    line-height: 110% !important;
    margin: 0 0 !important;

    > small {
      display: block;
      color: var(--primary-green);
      font-size: 0.678em;
    }

    ///
    /// Modifiers
    ///
    &.--yellow {
      > small {
        color: var(--secondary-yellow);
      }
    }
  }
}

.bw-page-header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;


  > #page-header-bg {
    max-width: 1420px;
    padding: 0 90px;
  }

  .page-header-bg-image::after {
    // display: none;
    // border: solid 10px Yellow;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(255, 255, 255, 0.10546225326067926) 66%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

///
/// Modify header look in a single list
///
.woocommerce ul.products li.product h2,
.woocommerce ul.products li.product h2,
.woocommerce-page ul.products li.product h2.bw-product-title {
  &.--medium {
    font-size: 1em !important;
    line-height: 150% !important;
  }

  &.--small {
    font-size: 0.85em !important;
    line-height: 150% !important;
  }

  &.--xsmall {
    font-size: 0.618em !important;
    line-height: 140% !important;
  }
}

///
/// Custom gallery
///
.bw-custom-gallery {
  .portfolio-items .col .work-item.style-2 h3 {
    // border: solid 1px Red;
    font-size: 1.25em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  }
}
