html body {
  /// Force uppercase
  .--force-uppercase {
    text-transform: uppercase !important;
  }

  /// Force button to take full width
  .--btn-force-full-width {
    display: block !important;
    text-align: center !important;
  }
}
