html {
  .nectar-shop-header {
    .woocommerce-ordering {
      display: none;
    }
    .woocommerce-result-count {
      display: none;
    }
  }

  .easyzoom-flyout {
    display: none !important;
  }
  .single-product-summary {
    .product_title.entry-title {
      display: none !important;
    }
  }

  .woocommerce-page .woocommerce p.cart-empty {
    font-size: unset;
    line-height: unset;
  }

  ///
  /// Remove formcraft advert
  ///
  .formcraft-css .powered-by {
    display: none;
  }
}
