@use "config";

html {
  .nectar-shop-header {
    .woocommerce-ordering {
      display: none;
    }
    .woocommerce-result-count {
      display: none;
    }
  }

  .easyzoom-flyout {
    display: none !important;
  }
  .single-product-summary {
    .product_title.entry-title {
      display: none !important;
    }
  }

  .woocommerce-page .woocommerce p.cart-empty {
    font-size: unset;
    line-height: unset;
  }

  ///
  /// Chanfge formcraft colors
  ///
  .fc-form {
    .main-label span,
    .sub-label span {
      color: var(--ui-gray-medium) !important;
    }
  }

  ///
  /// Remove formcraft advert
  ///
  .formcraft-css .powered-by {
    display: none;
  }

  ///
  /// Hack mini cart in the navbar
  ///

  // Hide H2
  #header-outer .widget_shopping_cart h2.widgettitle {
    display: none;
  }

  // Add padding top to buttons
  #header-outer .widget_shopping_cart .buttons {
    padding-top: 20px;
  }

  ///
  /// Current menu item
  ///
  .woocommerce #sidebar div ul li.current-cat {
    > a {
      color: var(--primary-green) !important;
    }
  }

  ///
  /// Product listings
  ///
  @media only screen and (min-width: config.$breakpoint-desktop) {
    .products li.product.minimal .product-add-to-cart {
      a.added_to_cart.wc-forward {
        display: none;
      }

      a.add_to_cart_button {
        opacity: 1;
        border: solid 1px var(--border-light) !important;
        border-radius: 8px;
        padding: 0.25em 1em !important;
        display: block;
        background-color: var(--primary-green) !important;
        color: white !important;
        margin-top: 1.5em !important;
        transition: all 0.5s ease-out !important;
        background-position: center center !important;
        text-align: center !important;
        text-transform: uppercase !important;

        .normal.icon-salient-cart {
          color: White !important;
          transition: all 0.5s ease-out !important;
        }

        &::after,
        &::before {
          display: inline-block !important;
          position: absolute !important;
          left: 50%;
          top: 50%;
          margin-left: -5px;
          margin-top: 5px;
        }

        &:hover {
          background-color: var(--background-ultra-light) !important;
          color: var(--primary-green) !important;

          .normal.icon-salient-cart {
            color: var(--primary-green) !important;
          }

          span {
            background: none;
          }
        }
      }

      a.add_to_cart_button.loading {
        .normal.icon-salient-cart {
          opacity: 0;
          transition: none;
        }
        span {
          opacity: 0;
        }
      }

      a.add_to_cart_button.added {
        pointer-events: none;
        background-color: var(--background-ultra-light) !important;
        color: var(--primary-green) !important;
        opacity: 0;
        /* &::before {
        content: "OK";
        display: block;
      } */

        .normal.icon-salient-cart {
          opacity: 0;
        }
      }
    }
  }

  // Force shortcode buttons to be uppercased
  body[data-button-style*="slightly_rounded"]
    .col.dark
    .nectar-button.see-through-2.--force-uppercase {
    text-transform: uppercase !important;
  }

  ///
  /// Add customised padding to product description
  ///
  .woocommerce-product-details__short-description {
    padding-top: 20px;

    &.--with-price-tag {
      padding-top: 0;
    }
  }
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    > ul
    > li
    > a:hover,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.sfHover
    > a,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current_page_ancestor
    > a,
  #header-outer.transparent header#top nav .sf-menu > li.current-menu-item > a,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current-menu-ancestor
    > a,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current-menu-item
    > a,
  #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current_page_item
    > a,
  #header-outer.transparent
    header#top
    nav
    > ul
    > li
    > a:hover
    > .sf-sub-indicator
    > i,
  #header-outer.transparent header#top nav > ul > li.sfHover > a > span > i,
  #header-outer.transparent header#top nav ul #nectar-user-account a:hover span,
  #header-outer.transparent header#top nav ul #search-btn a:hover span,
  #header-outer.transparent header#top nav ul #nectar-user-account a:hover span,
  #header-outer.transparent
    header#top
    nav
    ul
    .slide-out-widget-area-toggle
    a:hover
    span,
  #header-outer.transparent
    header#top
    nav
    .sf-menu
    > li.current-menu-item
    > a
    i,
  body
    #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current_page_item
    > a
    .sf-sub-indicator
    i,
  #header-outer.transparent
    header#top
    nav
    .sf-menu
    > li.current-menu-ancestor
    > a
    i,
  body
    #header-outer.transparent:not([data-lhe="animated_underline"])
    header#top
    nav
    .sf-menu
    > li.current-menu-ancestor
    > a
    i,
  #header-outer.transparent .cart-outer:hover .icon-salient-cart,
  .ascend
    #boxed
    #header-outer.transparent
    .cart-outer:hover
    .cart-menu
    .cart-icon-wrap
    .icon-salient-cart {
    color: var(--primary-green) !important;
  }
}
