:root {
  --border-light: rgb(224, 224, 224);
  --background-ultra-light: rgb(250, 250, 250);
  --shadow-color-light: rgba(227, 227, 227, 1);
  --shadow-color-medium: rgb(194, 194, 194);
  --ui-gray-medium: rgb(136, 136, 136);
  --ui-gray-medium-hover: rgb(104, 104, 104);
  --primary-green: #bac844;
  --primary-green-hover: #929e24;
  --secondary-yellow: #F1EA39;
}
